<div class="container">
  <h2>Ups! 404 Not Found</h2>
  <img
    src="https://media1.tenor.com/m/WsGBscL0hs4AAAAC/this-is-fine-dog.gif"
    alt="this is fine meme"
  />
  <h3>Please, go back to a valid request</h3>
</div>